# Part 2 - Working with Files
This section will introduce how to use Python to open files and work with the data inside.


## Using Python's `open` function
Opening files makes use of the `open` function, which can read or write to files. Once files are opened and finished with, they need closing so that we keep things 'clean'. Usually this might take the form:
```
my_file_object = open('path/to/file.txt', 'r')  # The 'r' signifies that we want to read the file.
lines = my_file_object.readlines()
my_file_object.close()
```
In order to keep things clean as mentioned before, we will use a `with` statement to create the file object. Below that statement is nested code - once those tasks are complete and the program moves out of the indent, the file is automatically closed. This makes things easier to read also.

Let's use this to open the 'spreadsheet.csv'. This contains the following data in a comma-separated format, which if opened in Excel would show a spreadsheet like:

| item | price | quantity |
|------|-------|----------|
|beans|0.95|1|
|mushroom|0.1|10|
|sausage|0.6|6|
|tomato|0.2|2|
|bacon|0.3|8|
|egg|0.6|6|

...but since this is a text file format, the content is actually:
```
item,price,quantity
beans,0.95,1
mushroom,0.1,10
sausage,0.6,6
tomato,0.2,2
bacon,0.3,8
egg,0.6,6
```
Let's open this file and print the content as a list, where each item is a line from the file:

In [8]:
# Start with a `with` statement to create the file object
with open('resources/spreadsheet.csv', 'r') as my_file_object:
    # Work with the file object inside this indented portion
    lines = my_file_object.readlines()
    print(lines)

['item,price,quantity\n', 'beans,0.95,1\n', 'mushroom,0.1,10\n', 'sausage,0.6,6\n', 'tomato,0.2,2\n', 'bacon,0.3,8\n', 'egg,0.6,6\n']

As can be seen, the end of each line (or row) has `\n`, which is a 'newline' character. Each column is separated by a comma (hence comma separated file - CSV). We aren't really interested in this data, but it is very easy to manipulate `string` type data like this:

In [12]:
row = 'item,price,quantity\n'

# Remove the newline character using `rstrip()`
row = row.rstrip()
print(row)

# Split the content of the row by any comma characters
row = row.split(',')
print(row)

item,price,quantity
['item', 'price', 'quantity']

Now our line/row which was a string is not converted to a list of strings, where each item represents a column.

## There must be a less fiddly way?

Yes! There is a much easier way to work with file data, where the format is a more common type. For example; a CSV file, Zip file, HTML, and many more than can be reasonably listed here. Often it is the case someone (or  agroup of people in the Open Source Community) have written a Python package to do this.

Once of the most useful packages for working with data in spreadsheet-like files is the `pandas` module/package. This is covered next.

### Installing packages

Installing packages like `pandas` is made easy using the command line, via commands like `pip install pandas`. An explanation how to install packages using e.g. `pip` is covered elsewhere. Once installed, modules can be imported into code by e.g. typing `import pandas`.

## Using the `pandas` module to open files
The `pandas` module contains many functions to work with data in a table structure - perfect for anyone who has reached the limits of Excel and want to do something more complex.

The concept is fairly simple - you open a file using Pandas, then you can access or transform the data in the table/spreadsheet row-, column-, or cell-wise. You can also add to or delete the data in this way, and then re-write the table to a file in a different format.

In [33]:
# Typing 'pandas' all the time takes too long - let's abbreviate the package to 'pd'
import pandas as pd

# Load our spreadsheet file into a 'dataframe' object (which we will call df).
df = pd.read_csv('resources/spreadsheet.csv')

# Show the table
df

       item  price  quantity
0     beans   0.95         1
1  mushroom   0.10        10
2   sausage   0.60         6
3    tomato   0.20         2
4     bacon   0.30         8
5       egg   0.60         6

That was much simpler! The `pandas` module has done all of the parsing of the spreadsheet behind the scenes, so all we need to worry about is what we do with the data.

Columns in the table can be accessed in the following way:

In [34]:
df['item']  # Print data in the 'item' column

0       beans
1    mushroom
2     sausage
3      tomato
4       bacon
5         egg
Name: item, dtype: object

...rows can be accessed in the following way:

In [35]:
df.loc[0]  # Print data in row 0 according to the index column (far left no the table)

item        beans
price        0.95
quantity        1
Name: 0, dtype: object

...and cells can be accessed in the following way:

In [36]:
df.loc[0, 'price']  # Index 0, column 'price'

0.95

We can do more than just look at the data though - it can be sorted in any number of ways. For example:

In [39]:
# Sort the table by item price
df = df.sort_values(by='price', ascending=True)
df

       item  price  quantity  cost
1  mushroom   0.10        10  1.00
3    tomato   0.20         2  0.40
4     bacon   0.30         8  2.40
2   sausage   0.60         6  3.60
5       egg   0.60         6  3.60
0     beans   0.95         1  0.95

...and new columns can be created, which could be based upon the values of existing ones. The method used to create new named columns is simlar to the approach used to index and print them:

In [41]:
# Add a new column, which is the cost per item (price x quantity)
df['cost'] = df['price'] * df['quantity']
df

       item  price  quantity  cost
1  mushroom   0.10        10  1.00
3    tomato   0.20         2  0.40
4     bacon   0.30         8  2.40
2   sausage   0.60         6  3.60
5       egg   0.60         6  3.60
0     beans   0.95         1  0.95

There are many more useful things `pandas` can do. But let's end this section with an example of how easy it is to then write a file. There are several output formats to choose from, but let's randomly go for HTML:

In [42]:
df.to_html('resources/spreadsheet.html')